# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Virtual environments
venv/
ENV/
env/
.venv
myenv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project specific
*.log
.env
data/
models/
results/
datasets_id/
datasets_doc/
datasets_doc_v2/
mlruns/
runs/
test_sample/

src/yolo11n_best/
src/yolo11s_best/
src/yolo11s_best_v2/
src/yolo11s_best_v3/
src/yolo11s_last_v3/
src/yolo26s_best_v1/
src/yolo26s_best_v1_2/
src/yolo26s_best_v2/
src/yolo26s_best_v3/
src/yolo26s_best_v4/

src/doc_inference.py
src/inference.py
src/visualize.py
src/train_yolo_mlflow.py

info.md
